<ion-view title="Home">
	<ion-content padding="true">
		<!--spaço-->
		<div class="spacer" style="width: 300px; height: 31px;"></div>
		<!-- imagem-->
		<div align="center">
			<img src="../img/pokedex.jpg" height="50%" width="80%" >
		</div>
		<!--spaço-->
		<div class="spacer" style="width: 300px; height: 31px;"></div>
		<!-- texto -->
		<div align="center">
			<h3>Bem vindo, treinador!</h3>
			<p> Explore aqui o mundo pokémon </p>
		</div>
	</ion-content>

	<!--menu-->
	<ion-tabs class="tabs-assertive">
		<!--icone do home-->
        <ion-tab icon="ion-home" ui-sref="home">
          <ion-nav-view name="home"></ion-nav-view>
        </ion-tab>

		<!--icone da lista-->
        <ion-tab icon="ion-ios-list" ui-sref="pokemon">
          <ion-nav-view name="pokemon"></ion-nav-view>
        </ion-tab>
	</ion-tabs>
</ion-view>